@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var especies = ViewBag.Especies as List<string>;
}

<h3>Cadastro da Raça</h3>

<form action="registrar" method="get">

    <div class="mb-3">
        <label for="campo_nome" class="form-labol">Nome<span class="text-danger fm-bold">*</span></label>
        <input type="text" id="campo_nome" name="nome" class="form-label" required="required" />
    </div>

    <div class="mb-3">
        <label for="campo_esoecie" class="form-label">Espécie<span class="text-danger fm-bold">*</span></label>
        <select id="campo_especie" name="especie" class="form-select" required="required">
            <option selected="selected" disabled="disabled" value="">Selecione uma opção</option>
            @foreach (var especie in especies)
            {
                <option value="@especie">@especie</option>
            }
        </select>
    </div>

    <div class="text-end">
        <a href="/raca" class="btn btn-outline-danger">Canselar</a>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>