<h1>Editar Raça</h1>

<form method="post" action="/raca/editar">
    <label for="campo-nome">Nome: </label>
    <input type="text" id="campo_nome" name="nome"/>
    <label for="campo-especie">Especie: </label>
    <section id="campo-especie" name="especie">
        <option value="Cachorro">Cachorro</option>
        <option value="Gato">Gato</option>
    </section>

</for>