<h1> Teste </h1>

<div>
    <a href="/raca/cadastrar">Cadastrar</a>
</div>

<table>
    <thead> <!-- Cabecalho da tabela-->
        <tr> <!-- Linhda da tabela -->
            <th>Código</th> <!-- Coluna especifica-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody>
        <!-- Lugar dos regitros da tabela-->

        @foreach (var raca in ViewBag.Racas)
        {
            <tr>
                <!-- Linha -->
                <td>@raca.Id</td> <!-- Coluna especifica para body-->
                <td>@raca.Nome</td>
                <td>@raca.Especie</td>
            </tr>
        }

    </tbody>
</table>