<h1> Teste </h1>
<table>
    <thead> <!-- Cabecalho da tabela-->
        <tr> <!-- Linhda da tabela -->
            <th>Código</th> <!-- Coluna especifica-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody><!-- Lugar dos regitros da tabela-->
        <tr>
            <td>1</td> <!-- Coluna especifica para body-->
            <td>Pinscher</td>
            <td>Cachorro</td>
        </tr>
    </tbody>
</table>