<h1> Teste </h1>

<div>
    <a href="/raca/cadastrar">Cadastrar</a>
</div>

<table>
    <thead> <!-- Cabecalho da tabela-->
        <tr> <!-- Linhda da tabela -->
            <th>Código</th> <!-- Coluna especifica-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody><!-- Lugar dos regitros da tabela-->
        <tr>
            <td>1</td> <!-- Coluna especifica para body-->
            <td>Pinscher</td>
            <td>Cachorro</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>2</td>
            <td>Frajola<td>
            <td>Gato</td>
        </tr>
    </tbody>
</table>